h1{
    color:chartreuse;
}

#fighting{
    background : yellow;
    width : 150px;
}

.green{
    color:green;
}

.line{
    background:greenyellow;
    width : 170px;
}

.blue{
    color:blue;
}

.grey{
    color:lightslategrey;
}